.text-logo {
    font-family: 'Comfortaa', cursive;
    font-size: 1.5em;
    color: #40a8a1;
}

.text-subheading {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em
}

/* .navi-logo {
    margin-left: -50px
} */

.navi-logo:hover {
    text-decoration: none
}

.navi-item {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: #40a8a1;
    margin-left: 3em;
}

.navi-link {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: #40a8a1;
}

.navi-link:hover {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: #32837d;
    text-decoration: none
}

.txt-comfortaa {
    font-family: 'Comfortaa', cursive
}

.txt-open-sans {
    font-family: 'Open Sans', sans-serif
}