html, body {
    max-width: 100%;
}

body {
    overflow-x: hidden
}

body.modal-open {
    padding-right: 0px !important
}

.card-img-top {
    max-height: 200px;
    object-fit: cover;
    width: auto;
}

.btn-block {
    margin-top: 0px !important
}

#intro {
    padding: 2em 0em 2em 0em;
    background-color: #40a8a1;
    margin-top: -13px;
    padding-top: 20px;
}

#unify-tech-solve-problems {
    background-color: #32837d;
    padding: 5em 0em
}

#efficiency-beauty {
    background-color: #9ea39e
}

#skills-intro {
    padding: 5em 0em
}

/* .card {
    min-height: 650px
} */

.card-body {
    min-height: 240px
}

.button-dark-green {
    background-color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #32837D;
    padding: 1em 2em;
    font-size: .8em;
    color: #32837d
}

.button-dark-green:hover {
    background-color: #32837D;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: .8em;
}

.txt-comfortaa {
    font-family: 'Comfortaa', cursive
}

.txt-open-sans {
    font-family: 'Open Sans', sans-serif
}

.text-nav-name {
    font-family: 'Comfortaa', cursive;
    font-size: 1.5em;
    color: #40a8a1;
}

.text-nav-name:hover {
    color: #40a8a1;
    text-decoration: none
}

.text-heading {
    font-family: 'Comfortaa', cursive;
    font-size: 2em;
    color: #f7fff7;
    text-align: center;
    padding: 1em 1em 0em 1em;
    line-height: 2em
}

.text-heading-dark {
    font-family: 'Comfortaa', cursive;
    font-size: 2em;
    color: #000000;
    text-align: center;
    padding: 1em 1em 0em 1em;
    line-height: 2em
}

.text-heading-modal-dark {
    font-family: 'Comfortaa', cursive;
    font-size: 1em;
    color: #000000;
    text-align: center;
    padding: 1em 1em 0em 1em;
    line-height: 2em
}

.text-subheading {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: #f7fff7;
    text-align: center;
    padding: 0em 1em 2em 1em;
}

.text-subheading-dark {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: #000000;
    text-align: center;
    padding: 0em 1em 2em 1em;
}

.text-button {
    font-family: "Open Sans", sans-serif;
    font-size: .75em;
    text-transform: uppercase;
}

.text-landing-subheading {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    padding: 0em 1em 1em 1em;
}

.text-icon-heading {
    font-family: 'Comfortaa', cursive;
    font-size: .95em;
}

.icon-tech {
    height: auto;
    width: 100px;
    padding: 2em
}

.line-under-icon {
    width: 75%
}

.line-under-heading {
    width:50%;
    margin-bottom: 3em
}

/* .navi-logo {
    margin-left: -50px
} */

.card-project {
    background-color: #8edfd9;
    color: #40a8a1;
}

.card-project-2 {
    background-color: #40a8a1;
    color: #8edfd9;
}

.card-project-3 {
    background-color: #4ecdc4;
    color: #32837d;
}

.image-col-2 {
    width: 75%;
    max-width: 200px;
    height: auto;
}

.section-dark-blue-250 {
    background-color: #32837d;
    height: auto;
    width: 100%;
    margin-top: -15px
}

.section-grey {
    background-color: #cbd1cb;
}

.navi-logo:hover {
    text-decoration: none
}

.navi-item {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: #40a8a1;
    margin-left: 3em;
}

.navi-link {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: #40a8a1;
}

.navi-link:hover {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: #32837d;
    text-decoration: none
}

@media only screen and (max-width: 992px) {
    #intro {
        margin-top: 4em
    }
    
    .text-icon-heading {
        font-size: .9em;
    }
    
    .row {
        padding: 0em 1em 0em 1em
    }
    
    .section-dark-blue-250 {
        margin-top: 50px
    }
}

@media only screen and (max-width: 768px) {
    
    #intro {
        margin-top: 4em;
    }

    .row {
        padding: 0em 1em 0em 1em
    }
    
    .section-dark-blue-250 {
        margin-top: 50px
    }

    .text-landing-heading {
        margin-top: 10px
    }

    .image-col-2 {
        height: auto;
        width: 33%;
    }

    .line-under-icon {
        width: 50%;
    }
}
